<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--   Benutzeranwendung und konfigurierte Eigenschafteneinstellungen hier einfuegen.-->
		<!--   Beispiel: <add key="settingName" value="settingValue"/> -->
		<!-- <add key="WorkingDirectory" value="%Env_Variable%\AnySubDir"/> -->
		<add key="Harry" value="Hirsch"/>
		<add key="DebugFile" value="%WorkingDirectory%\\%ApplicationName%.log"/>
		<add key="DebugInfo" value="DEBUG|INFO|WARNING|MILESTONE|ERROR"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
